$('.comment-list').prepend(`
  <tr id="comment-<%= @comment.id %>">
    <td><%= @comment.content %></td>
    <td><button type="button" class="btn btn-warning edit-comment" data-id="<%= @comment.id %>"><i class="fas fa-cog"></i> 수정</button></td>
    <td><button type="button" class="btn btn-danger destroy-comment" data-id="<%= @comment.id %>"><i class="fas fa-trash-alt"></i> 삭제</button></td>
  </tr>`);
$('#comment').val('');
