<% @posts.in_groups_of(3, false).each do |group| %>
  <div class="row">
  <% group.each do |post| %>
    <div class="col-sm-4 mt-5 align-self-center">
      <!-- <div class="justify-content-center"> -->
        <figure class="figure d-flex justify-content-center flex-column align-items-center">
          <img src="<%=post.postimage.thumb%>" class="figure-img img-fluid">
          <figcaption class="figure-caption text-center">
            <a href="/posts/<%=post.id%>" ><%= post.title %></a>
          </figcaption>
        </figure>
      <!-- </div> -->
    </div>
  <%end%>
  <hr />

</div>
<%end%>

<br>

<%= link_to 'New Post', new_post_path %>
